.header {
    color:#fff;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    margin:10px;
}

.punkLogo {
    width: 200px;
}

.searchBar {
    background-color: #1c1c1e;
    height: 50px;
    flex:1;
    display: flex;
    border-radius:50px;
    align-items: center;
}

.searchIconContainer {
    margin: 10px;
}

.searchInput {
    background-color:inherit;
    border:none;
    width: 100%;
    outline: none;
    color: #eee;
    font-size:16px;
    border-radius: 20px;
}

.headerItems{
    display: flex;
    color: #a1a5b0;
}

.headerItems > p {
    margin:10px;
}

.headerActions {
    display: flex;
    align-items: center;
}

.headerActions > div {
    margin:10px;
}

.themeSwitchContainer {
    display: flex;
    background-color:#1c1c1e;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.themeSwitchContainer > img {
    height: 25px;
}

.loginButton {
    background:linear-gradient(to right, #59f9b7, #66feea);
    padding:15px 40px;
    border-radius: 50px;
    color:black;
}

@media screen and (max-width:900px){
    .punkLogo {
        object-fit: contain;
        max-width: min(15vw, 30vh);
        max-height: 15vw;
    }

    .searchIcon {
        width: 15px;
    }

    .searchBar {
        background-color: #1c1c1e;
        height: 34px;
        border-radius:50px;
        align-items: center;
        width: 300px;
    }

    .searchIconContainer {
        margin: 10px;
    }
    
    .searchInput {
        text-align: start;
        width:150px;
    }

    .searchInput::placeholder {
        font-size: 13px;
    }

    .header > div {
        margin: 6px;
    }

    .headerItems {
        display: flex;
        color: #a1a5b0;
        flex-direction: column;
        font-size: 12px;
        font-weight: 500;
        line-height: 0.3;
    }
}