.main {
    max-height: 50vh;
    margin-top: 10px;
    font-family: 'PixelOperatorMono8Regular'; 
}

.mainContent {
    display: flex;
    padding-bottom: 28px;
    border-bottom: 1px solid #fff;
}

.punkHighLight {
    flex:0.25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.punkContainer {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
}

.selectedPunk {
    object-fit: contain;
    max-width: min(30vw, 40vh);
    max-height: 30vw;
}

.punkDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:0.75;
}

.title {
    font-size:46px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 10px;
}

.itemNumber {
    color:#a1a5b0;
    font-size: 40px;
    align-self: center;
}

.owner {
    display: flex;
    height: 50px;
}

.owner > div {
    margin: 0 5px;
}

.ownerContent {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    object-fit: contain;
}

.ownerImg {
    width: 50px;
    border-radius: 50px;
    height: 50px;
}

.ownerImageContainer {
    height: 50px;
    width:50px;
    border-radius: 50%;
    border-radius: 50px;
    overflow:hidden;
    object-fit: contain; 
}

.ownerImageContainer > img {
    height:100%;
    width:100%;
}

.ownerDetails {
    display: flex;
    flex:1;
    align-items:center;
}

.ownerNameAndHandle {
    flex:1;
}

.ownerHandle {
    color: #00ebfe;
    font-size: 13px;
    margin:15px;
}

.ownerLink {
    padding:12px;
    border-radius:50px;
    height: 50px;
    width:50px;
    border:1px solid #fff;
    margin: 0 0 0 10px;
}


.owner1 {
    display: flex;
    margin: 10px 0;
    height: 50px;
    padding-top: 20px;
}

.ownerLink > img {
    height:100%;
    width:100%;
}

@media screen and (max-width:900px) {
    .title {
        font-size:0.9rem;
        font-weight: 800;
    }

    .punkHighLight {
        margin-bottom: 60px;
    }

    .itemNumber {
        color:#a1a5b0;
        font-size: 0.8rem;
        align-self: center;
    }

    .ownerNameAndHandle {
        font-size: 0.5rem;
    }

    .ownerNameAndHandle {
        flex: 1 1;
    }
    
    .punkContainer {
        margin-right: 10px;
    }

    .selectedPunk {
        object-fit: contain;
        max-width: min(20vw, 20vh);
        max-height: 20vw;
    }

    .ownerImageContainer {
        height: 30px;
        width: 30px;
    }

    .ownerLink {
        padding: 10px;
        height: 20px;
        width: 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        font-size: 0.9rem;
        cursor: pointer;
    }

    .scroll {
        cursor: pointer;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 20px;
        width:50%;
        border-bottom: 1px solid #a1a5b0;
    }

    .address {
        margin-bottom: 15px;
        position: relative;
    }
}